.movie-card {
  display: flex;
  place-items: center;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.movie-card--title {
  text-align: center;
}

.article-card-text{
  text-decoration: none;
}