.chat-msg-owner{
    color: green;
}

.chat-background{
    background-color: white;
    height: 500px;
    margin: 50px;
    border-radius: 50px;
    padding: 50px;
    position: relative;
}

.chat-title{
    text-align: center;
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

.message-card{
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid lightgray;
}

.message-area{
    display: flex;
    position: absolute;
    bottom: 0;
    gap: 2rem;
    width: 90%;
    margin: 1rem 0;

}

.message-input{
    flex: 8;
    height: 3rem;
}

.message-send{
    flex: 2;
      background-color: #13aa52;
      border: 1px solid #13aa52;
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
      font-size: 16px;
      font-weight: 400;
      outline: none;
      outline: 0;
      padding: 10px 25px;
      text-align: center;
      transform: translateY(0);
      transition: transform 150ms, box-shadow 150ms;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .message-send:hover {
      box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
      transform: translateY(-2px);
    }
